__pycache__/
*.pyc
.DS_Store
env/
venv/
.idea/

./*.egg-info
./dist/


*/*.pyc

.env

dist/
build/
GrammarFlow.egg-info/

samples/hotpotqa/trajs/

*/test.py 

prompt.txt
*/prompt.txt
*/main.log
main.log 
*/grammar.gnbf
*/out.txt

*/results/
*/data_*.json
*/numbers.json
results/
benchmarker.ipynb
benchmarks/*/main.log 
benchmarks/*/results/
benchmarks/*/data/

*/core.*
core.*

trajs/
*/trajs/